<h1>Pass</h1>

<p>Name: <%= @pass.visitor_firstname %></p>

<p>Lastname: <%= @pass.visitor_lastname %></p>

<p>Visit date: <%= @pass.visit_date.strftime("%B %d, %Y") %></p>

<p>Status: <%= @pass.status %></p>