#passes-container {
    margin-top: 20px;
  }
  
  .pass {
    max-width: 300px; /* или любое другое значение, которое соответствует вашим требованиям */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
  }
  
  .pass p {
    margin: 0;
  }
  
  .pass .status {
    font-weight: bold;
    color: green; /* или любой другой цвет в зависимости от вашего дизайна */
  }