.main-container {
    width: 50%;
    margin: 0 auto; /* Центрирование по горизонтали */
  }

  .header {
    list-style: none;
    padding: 0;
  }
  
  .header li {
    font-family: Verdana;
    display: inline;
    margin-right: 30px; /* Расстояние между ссылками */
  }
  
  .header li:last-child {
    margin-right: 0; /* Убираем правый отступ у последнего элемента */
  }

  .header-link {
    color: #333; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold;
  }