<h3>Статус вашего пропуска <%= @pass.id %> </h3>

<p>
  <% if @pass.status == 'approved' %> 
    <span style="color: green;"><b>Пропуск номер <%= @pass.id %> согласован</b></span>
  <% else %>
    <span style="color: red;"><b>Пропуск номер <%= @pass.id %> не согласован</b></span>
  <% end %>
</p>