<h1>Статус вашего пропуска <%= @pass.id %> </h1>

<p>
  <% if @pass.status == 'approved' %> 
    Пропуск номер <%= @pass.id %> согласован
  <% else %>
    Пропуск номер <%= @pass.id %> не согласован
  <% end %>
</p>